*{
    margin: 0;
}
.container{
    background-color: rgb(235, 224, 224);
}
.navigation_bar{
    width: 100%;
    background-color: rgb(248, 248, 248);
    
}
.navigation_bar li{
    display: inline-block;
    margin: 1%;
    color: crimson;
}
#logo{
    border: 0.1rem solid;
    padding: 0.4rem 1rem;
    border-color: crimson;
}
.cases{
    padding-left: 2em;
    width: 210px;
    height: 160px;
    box-shadow: 0px 5px 10px rgba(255,0,0,0.3);
    background-color: #fff;
    border-radius: 2px;
    margin-top: 3%;
    margin-left: 7%;
    display: inline-flex;
    text-align: center;
}
.items{
    text-align: center;
    padding-top: 3em;
}
.h2{
    padding-left: 2em;
}
/*------------------ table-----------*/
table {
    margin-top: 3%;
    margin-left: 100px;
    border-collapse: collapse;
    width: 820px;
    
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2; height: 40px;}
  tr:nth-child(odd){height: 40px;}
  
  th {
    background-color: #dadada;
    color: black;
  }
  .table{
      float: left;
  }

  .updates{
    width: 270px;
    height: 200px;
    box-shadow: 0px 5px 10px rgba(255,0,0,0.3);
    background-color: #fff;
    border-radius: 2px;
    margin-top: 11%;
    margin-left: 15%;
    /* background-color: aqua; */
  }
.updates p{
    
    line-height: 1.5em;
    padding-left: 2em;
    padding-top: .5em;
    padding-bottom:0.5em ;
}
.updates h3{
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1.5em;
    padding-top: 20px;
    font-size: 1.2em;
    padding: 0.4em;
    background-color: rgb(250, 23, 34, 0.191);
    color: red;
    border-radius: 5px;   
}
.updates h4{
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1.5em;
    padding-top: 20px;
    font-size: 1.2em;
    padding: 0.4em;
    background-color: rgba(250, 23, 34, 0.191);
    color: red;
    border-radius: 5px;   
}
.updates hr{
    margin-left: 5%;
    margin-right: 5%;
}