<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <nav class="navigation_bar">
            <li id="logo">P</li>
            <li>Cv-19 Updates</li>
        </nav>
    </div>
    <div class="body">
        <div class="cases">
            <div class="para">
                <p><strong>Total Cases</strong><i style="margin-top: 20px; margin-left: 20px; color: red;" class="fa fa-caret-down"></i></p>
                <div class="items">
                    <h2>{{HealthState[0].totalcase}}</h2>
                </div>
            </div>
        </div>
        <div class="cases">
            <div class="para">
                <p><strong>Recoveries</strong><i style="margin-top: 20px; margin-left: 20px; color: green;" class="fa fa-caret-up"></i></p>
                <div class="items">
                    <h2>{{HealthState[0].recoveries}}</h2>
                </div>
            </div>
        </div>
        <div class="cases">
            <div class="para">
                <p><strong>Active Cases</strong><i style="margin-top: 20px; margin-left: 20px; color: red;" class="fa fa-caret-down"></i></p>
                <div class="items">
                    <h2>{{HealthState[0].activecase}}</h2>
                </div>
            </div>
        </div>
        <div class="cases">
            <div class="para">
                <p><strong>Total Deaths</strong><i style="margin-top: 20px; margin-left: 20px; color: red;" class="fa fa-caret-down"></i></p>
                <div class="items">
                    <h2>{{HealthState[0].totaldeaths}}</h2>
                </div>
            </div>
        </div>
    </div>       
    <div class="table">
        <table>
            <tr>
              <th>Countries</th>
              <th>Active Cases</th>
              <th>Recovered</th>
              <th>Total Cases</th>
              <th>Total Death</th>
            </tr>
            {% for report in  HealthState %}
            <tr>
                <td> {{ report.country }}</td>
                <td>{{report.activecase}}</td>
                <td>{{report.recoveries}}</td>
                <td>{{report.totalcase}}</td>
                <td>{{report.totaldeaths}}</td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
    <div class="table">
        <div class="updates">
            <h3>Hello Tips</h3>
            <div id="para-1">
                <p>Cover your nose when sneezing</p>
                <hr>
                <p>Wash your hands regularly</p>
                <hr>
                <p>Avoid group gathering</p>

            </div>
            
        </div>
        <div class="updates">
            <h4>News & Updates</h4>
            <img style="width: 90%; margin-left: 5%;" src="../static/img/update.jpg" alt="">
        </div>
    </div>
    
</body>
</html>